sudo: required

language: node_js

node_js:
  - "8"

before_install:
  # dependency for node-canvas
  - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++

install:
  - npm install

script:
  - npm test

after_success:
  - npm run coverage:coveralls
  - npm run coverage:codecov